# pip install -r requirements.txt
# pip install --user -r requirements (use this line if Errno 13 is thrown)

# Base ----------------------------------------
wheel==0.35.0
absl-py==0.10
grpcio==1.34.0
typing-extensions==3.7.4
matplotlib>=3.2.2
numpy>=1.19.2
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scikit-learn==1.0.2  # CoreML quantization
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard==2.6.0

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Deep Sort -----------------------------------
easydict
motmetrics

# Torch REID ----------------------------------
Cython
h5py==3.1.0
six
tb-nightly
future
yacs
gdown
flake8==4.0.1
yapf
isort==5.10.1
imageio

# YOLOv5 --------------------------------------
git+https://github.com/kalzeo/yolov5-pip.git # YOLOv5 package
openpyxl

# Export --------------------------------------
tensorflow==2.5.0  # TFLite export

# Extras --------------------------------------
thop  # FLOPs computation
