# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scikit-learn==1.0.2  # CoreML quantization
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Deep Sort -----------------------------------
easydict

# Torch REID ----------------------------------
Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8==4.0.1
yapf
isort==5.10.1
imageio

# YOLOv5 --------------------------------------
git+https://github.com/kalzeo/yolov5-pip.git # YOLOv5 package
openpyxl

# Export --------------------------------------
tensorflow>=2.4.1  # TFLite export

# Extras --------------------------------------
thop  # FLOPs computation